.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	border-top: 1px solid $color-dark-grey;
	border-bottom: 1px solid $color-dark-grey;
	padding: 10px 0 10px 0;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		@media screen and (min-width: $midwidth) {
			display: block;
		}

		ul {
			background-color: #fff;
			float: left;
			width: 100%;
			z-index: 99999;
			padding-top: 10px;

			@media screen and (min-width: $midwidth) {
				position: absolute;
				top: 35px;
				left: -999em;
				width: 250px;
			}

			@media screen and (min-width: $deskwidth) {
				top: 50px;
			}

			ul {
				left: -999em;
				top: 0;
			}

			li {
				font: { size: 13px;}

				

				@media screen and (min-width: $midwidth) {
					font: { size: 10px;}
					text-align:  left;
				}

				@media screen and (min-width: $deskwidth) {
					font: { size: 16px;}
				}
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100%;

				@media screen and (min-width: $midwidth) {
					width: 250px;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		line-height: 3;
		font: { size: 16px;}
		width: 100%;

		@media screen and (min-width: $mobwidth) {
			
			font: { size: 16px;}
		}
		@media screen and (min-width: $midwidth) {
			font: { size: 12px;}
			width: auto;
		}

		@media screen and (min-width: $deskwidth) {
			font: { size: 16px;}
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: 0 20px 0 20px;
		color: $color-dark-grey;
		border-bottom: 2px solid #fff;
		font-weight: 400;
    	letter-spacing: 1px;
		@include transition(all .3s ease);

		&:hover {
			border-bottom: 2px solid $color-yellow;
			color: $color-yellow;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


.menu-toggle {
	@media screen and (min-width: midwidth) {
		display: none;
	}
}
.main-navigation ul {
	@media screen and (min-width: midwidth) {
		display: block;
	}
}

button.menu-toggle {
	border: 0px;
	text-shadow: none;
	background-color: $color-dark-grey;
	color: #fff;
	box-shadow: none;
	width: auto;
	display: inline-block;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		family: $font-body;
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $midwidth) {
		display: none;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
